{% extends 'App/index.html' %}
{% load static %}
{% block content %}
    <h1>Create Feed</h1>

<form action="{% url 'Feed_Create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}


   <div>
        <label for="title">Title</label>
        <input type="text   " name="title" id="title">
    </div>
<br>
    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>


    </div>
<br>
    <div>
        <label for="image">Image</label>
        <input type="file" name="image" id="image" accept="image/*">
    </div>
<br>
    <div>
        <label for="artist" >Artists</label>
        <select name="artist" id="artist" multiple>
            {% for artist in artists %}
                <option value="{{ artist.pk }}" {% if artist.pk == form.artist.value %}selected{% endif %}>
                    {{ artist}}
                </option>
            {% endfor %}
        </select>
    </div>

    <br>
        <label for="category">Category</label>
        <select name="category" id="category">
            {% for category in categorys %}
                <option value="{{ category.pk }}"
                        {% if category.pk == form.category.value %}selected{% endif %}>
                        {{ category}}
                </option>
            {% endfor %}
        </select>
<br>
<br >

    <div>

            <label for="user">User</label>
            <select name="user" id="user">
            {% for user in users %}
                <option value="{{ user.pk }}"
                        {% if user.pk == form.user.value %}selected{% endif %}>
                         {{ user }}
                </option>
            {% endfor %}

            </select>
        </div>

<br>

<input type="submit" value="Create">

</form>

{% endblock %}