{% extends 'App/index.html' %}
{% block content %}
    <div class="CreatePost">

{% if user.is_authenticated%}
    <h3><a href="{% url 'Feed_Create' %}">Create Post </a></h3>
{% else %}
    <h3>Log in to create a post.</h3>
    {% endif %}

</div>
    <hr>
    <div class="card-container">
        {% for post in posts %}
            <div class="post-container">
                {% if post.image %}
                    <div class="post-image-container">
                        <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                {% else %}
                    <div class="no-image-container">
                        <p class="no-image">No image available</p>
                    </div>
                {% endif %}

                <div class="post-details">
                    <h3 class="post-title">
                        <span class="post-user">{{ post.user }}</span> <br>
                        <a href="{% url 'Feed_Detail' post.pk %}">{{ post.title }}</a>
                    </h3>
                    <p class="post-text">{{ post.text }}</p>
                </div>
            </div>
        {% empty %}
            <div class="no-posts-container">
                <p>No posts available.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}