{% extends 'App/index.html' %}
{% block content %}

<div class="card">
    <form method="post" enctype="multipart/form-data" class="custom-form">
        {% csrf_token %}
        <h1 class="card-title">Sign Up</h1>

        <div class="card-content">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" name="age" id="age" class="form-control" required min="1" max="120">
            </div>

            <div class="form-group">
                <label for="password1">Password:</label>
                <input type="password" name="password1" id="password1" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password2">Re-Password:</label>
                <input type="password" name="password2" id="password2" class="form-control" required>
            </div>

            <div class="card-footer">
                <button type="submit">SIGN UP</button>
                <input type="submit" value="Sign Up" class="btn btn-primary">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </form>
</div>
<script>
    const password1 = document.getElementById('password1');
    const password2 = document.getElementById('password2');

    password1.addEventListener('change', () => {
        if (password1.value !== password2.value) {
            password2.setCustomValidity('Passwords do not match');
        } else {
            password2.setCustomValidity('');
        }
    });

    password2.addEventListener('change', () => {
        if (password1.value !== password2.value) {
            password2.setCustomValidity('Passwords do not match');
        } else {
            password2.setCustomValidity('');
        }
    });
</script>
{% endblock %}