{% extends 'App/index.html' %}
{% load static %}
{% block content %}
    <div class="about">
        <section>
            <h1 class="title-about">About Us</h1>
            <p>ObraImahe is a platform where aspiring artists showcase their unique creations and connect with art lovers everywhere. Our mission is to provide a space where artists can share their work and grow their audience. We believe that art has the power to inspire, uplift, and connect people from all walks of life. Join us and be part of our growing community of artists and art enthusiasts.</p>
        </section>
    </div>

    <div class="team">
        <section>
            <h2>Meet the Team</h2>
            <div class="team-grid">
                <div class="team-member">
                    <img src="{% static 'images/kle.png' %}"  alt="Founder">
                    <h3 class="name">Marc Kleo C. Bonsol</h3>
                    <p class="named">Founder</p>
                </div>
        </section>
{% endblock %}
