{% extends 'App/index.html' %}
{% load static %}
{% block content %}

    <div class="hero">
    <section>
        <h1>Welcome</h1>
        <p>Where aspiring artists showcase their unique creations and connect with art lovers everywhere.</p>
        <button><a href="{% url 'Feed' %}">Explore</a></button>
    </section>
</div>

<div class="featured-art">
    <section>
        <h2>Featured Artworks</h2>
        <div class="art-grid">
            <div class="art-item">
                <img src="{% static 'images/kdrama.jpg' %}" alt="Featured Art 1">
                <h3>Graphite</h3>
                <p>By: kleo </p>
            </div>
            <div class="art-item">
                <img src="{% static 'images/pinterest.jpg' %}" alt="Featured Art 2">
                <h3>Graphite</h3>
                <p>By: kleo </p>
            </div>
            <div class="art-item">
                <img src="{% static 'images/Ichigo ballpen.jpg' %}" alt="Featured Art 3">
                <h3>Ballpen hatching</h3>
                <p>By: kleo </p>
            </div>
        </div>
    </section>
</div>

<div class="categories">
    <section>
        <h2>Explore Categories</h2>
        <div class="category-grid">
            <div class="category-item">
                <h3>Graphite</h3>
            </div>
            <div class="category-item">
                <h3>Charcoal</h3>
            </div>
            <div class="category-item">
                <h3>Ballpoint</h3>
            </div>
            <div class="category-item">
                <h3>Graphite</h3>
            </div>
        </div>
    </section>
</div>

<div class="call-to-action">
    <section>
        <h2>Are you an artist?</h2>
        <p>Join our platform and share your art with the world.</p>
        {% if user.is_authenticated %}
            <a href="{% url 'Feed' %}" style="color:white;">Get Started</a>
        {% else %}
        <a href="{% url 'Signup' %}">Sign up</a>
        {% endif %}
        <p>Already have an account? <a href="{% url 'login' %}" style="color: white">Login</a></p>
    </section>
</div>
{% endblock %}